
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<p class="h5 fw-semibold mb-2">Forgot</p>
<p class="mb-3 text-muted op-7 fw-normal">Please Enter Your Email</p>
<div class="row gy-3">
    <div class="col-xl-12 mb-3">
        <label for="email" class="form-label text-default">Email</label>
        <div class="input-group">
            <input type="password" class="form-control form-control-lg" id="email" placeholder="email">
            <button class="btn btn-light" type="button" onclick="createpassword('email',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
        </div>
    </div>
    <div class="col-xl-12 d-grid mt-2">
        <a href="javascript:void(0);" class="btn btn-lg btn-primary">Send</a>
    </div>
